ul {
    list-style: none;
    padding: 0;
}
ul li{

    text-align: left;
}
body {
    display: flex;
    justify-content: center;  
    height: 100vh;
    margin: 0;
   text-align: center;
  }
/* CSS */
li.checked {
    text-decoration: line-through; /* 加线划 */
    opacity: 0.5; /* 降低不透明度，使它虚化 */
  }
  
  