body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#title {
    background-color: #fff;
    color: black;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; /* 新增这一行 */
}

#title img {
    max-width: 20px;
    margin-right: 5px;
}

#title span {
    margin-left: auto;
    margin-right: auto;
}
.login-container {
    margin: 80px;
    padding: 20px;
    text-align: center;
}

form {
    display: inline-block;
}

input {
    margin: 5px;
    padding: 8px;
    width: 200px;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: rgba(200, 0, 0, 0.9);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
}
a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}